.chat-bubble {
    -fx-padding: 8;
    -fx-background-radius: 10;
}

.chat-bubble-background-left {
    -fx-background-color: #EF233C;
    -fx-text-fill: #EDF2F4;
}

.chat-bubble-background-right {
    -fx-background-color: #b4002f;
    -fx-text-fill: #EDF2F4;
}

.conversation-background {
    -fx-background: #13121e;
    -fx-background-color: #13121e;
}

.login_bgn {
    -fx-background-image: url('views/login_bg.jpg');
    -fx-background-size: cover;
}

.login_input {
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-highlight-fill: #95A82A;
    -fx-highlight-text-fill: #95A82A;
}

.register_btn {
    -fx-background-color: #95A82A;
    -fx-background-radius:  50;
    -fx-font-size: 16px;
    -fx-text-fill: #F7F7F7;
    -fx-font-weight: bold;
}

.random_btn {
    -fx-background-color: #778721;
    -fx-background-radius:  50;
    -fx-font-size: 16px;
    -fx-text-fill: #F7F7F7;
}

.yellow-background {
    -fx-background-color: yellow;
}

.message-textfield {
    -fx-text-fill: #13121e;
    -fx-background-color: #EDF2F4;
    -fx-pref-height: 100%;
    -fx-highlight-fill: #b4002f;
}

.message-button {
    -fx-background-color: #8D99AE;
}